<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Se connecter</title>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="login">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        <p>Artisan Autogestion</p>
        <br>
        <p>.....................................</p>
        <br>
        <strong>Connexion</strong>
        <br><br>
        <label for="inputEmail">Email</label>
        <br>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <br><br>
        <label for="inputPassword">Mot de passe</label>
        <br>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <br>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
        #}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
    {% if (first == true) %}
        <a href="{{ path('app_register') }}" class="sm-button">Créer premier compte</a>
    {% endif %}
</div>
        </div>
        {% include '/inc/foot.html.twig' %}
    </body>
</html>
