{% extends 'base.html.twig' %}

{% block title %}BasArtisanGestion{% endblock %}

{% block body %}
  {% for label, messages in app.session.flashbag.all() %}
      {% for message in messages %}
          <div class="alert alert-{{ label }}">
              {{ message }}
          </div>
      {% endfor %}
  {% endfor %}
  {% if (app.user.parametres.afficherCalendrier == true) %}
    <div class="box">
    <div class="column-container">
      <div class="column">
        <a href="{{ path('app_event_add') }}" class="sm-button">Nouveau événement</a>
      </div>
      <div class="column">
          <strong>Passé</strong>
          {% for event in past %}
          <div class="card">
          <a href="{{ path('app_event_show', {'id': event.id}) }}">{{event.date|date('d/m/y')}}<br>{{event.nom}}</a>
          </div>
          {% endfor %}
        </div>
        <div class="column">
          {% set months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
          {% set currentMonth = "now"|date('m')|number_format(0, 0, ',', '') %}
          <strong>{{ months[currentMonth - 1] }}({{"now"|date('m/y')}})</strong>
          {% for event in present %}
          <div class="card">
          <a href="{{ path('app_event_show', {'id': event.id}) }}">{{event.date|date('d/m/y')}}<br>{{event.nom}}</a>
          </div>
          {% endfor %}
        </div>
        <div class="column">
          <strong>A venir</strong>
          {% for event in futur %}
          <div class="card">
          <a href="{{ path('app_event_show', {'id': event.id}) }}">{{event.date|date('d/m/y')}}<br>{{event.nom}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="box2">
      <a href="{{ path('app_document_index') }}" class="sm-button2">Devis et Factures</a> <a href="{{ path('app_client_index') }}" class="sm-button2">Clients</a>
    </div>
{% endblock %}
