{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}
 
 
 {% block body %}
 <h2> Clients </h2>
 <div class="box">
      <a href="/client/add" class="submit-button">Ajouter un client</a>
      <table class="client-table">
        <thead>
          <tr>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Telephone</th>
              <th scope="col">Adresse</th>
          </tr>
        </thead>
      {% for client in clients %}
        <tbody>
          <tr scope="row">
                <td><a href="{{ path('app_client_show', {'name': client.nom}) }}" class="client-card">{{ client.nom }}</a></td>
                <td>{{client.Email}}</td>
                <td>{{client.Telephone}}</td>
                <td>{{client.Adresse}}, {{client.codePostal}},{{client.ville}}</td>
            </tr>
        </tbody>  
      {% endfor %}
      </table>
  </div>
{% endblock %}