{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}
 
 
 {% block body %}
 <h2> Clients </h2>
 <div class="box">
      <a href="{{ path('app_client_add') }}" class="submit-button">Ajouter un client</a>
      <table class="client-table">
        <thead>
          <tr>
              <th scope="col">Nom</th>
              <th scope="col" class="hidden-small">Email</th>
              <th scope="col" class="hidden-small">Telephone</th>
              <th scope="col" class="hidden-small">Adresse</th>
          </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr scope="row">
                <td><a href="{{ path('app_client_show', {'name': client.nom}) }}" class="client-card">{{ client.nom }}</a></td>
                <td class="hidden-small">{{client.Email}}</td>
                <td class="hidden-small">{{client.Telephone}}</td>
                <td class="hidden-small">{{client.Adresse}}, {{client.codePostal}},{{client.ville}}</td>
            </tr>
        {% endfor %}
        </tbody>  
      </table>
  </div>
{% endblock %}
