{% extends 'base.html.twig' %}

{% block title %}Modification de document{% endblock %}

{% block body %}
<h2> Modification - {{type}} n°{{document.numero}} du {{date}} pour {{document.client.nom}}</h2>
<br>
<div style="text-align: center">
    {{ form_start(form) }}
    <div class="form-row">
            <div class="form-label">{{ form_label(form.date) }}</div>
            <div class="form-field">{{ form_widget(form.date) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(form.type) }}</div>
            <div class="form-field">{{ form_widget(form.type) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(form.client) }}</div>
            <div class="form-field">{{ form_widget(form.client) }}</div>
        </div>
    <button type="submit" class="submit-button">Suivant</button>
    {{ form_end(form) }}
</div>
<a href="{{ path('app_document_remove', {'id': document.id}) }}" class="sm-button">! Supprimer !</a>
    <a href="{{ path('app_document_index')}}" class="sm-button">Retour</a>
{% endblock %}