 {% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}
 
 
 {% block body %}
  <h2> Devis et Factures </h2>
 <div class="box">
    <a href="/document/create" class="submit-button"> Nouveau devis ou facture</a>
    <br>
    <div class="column-container">
      <div class="column">
        <strong>Devis en cours</strong>
        {% for devis in devisEnCours %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': devis.id}) }}">{{devis.numero}}-{{devis.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': devis.id, 'direction': "right" }) }}" class="arrow">&#8594</a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        <strong>Devis envoyés</strong>
        {% for devis in devisEnvoyes %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': devis.id}) }}">{{devis.numero}}-{{devis.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': devis.id, 'direction': "left" }) }}" class="arrow">&#8592 </a><a href="{{ path('app_document_move', { 'id': devis.id, 'direction': "right" }) }}" class="arrow">&#8594</a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        <strong>Devis acceptés</strong>
        {% for devis in devisAcceptes %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': devis.id}) }}">{{devis.numero}}-{{devis.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': devis.id, 'direction': "left" }) }}" class="arrow">&#8592 </a><a href="{{ path('app_document_move', { 'id': devis.id, 'direction': "right" }) }}" class="arrow">&#8594</a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        <strong>Factures en cours</strong>
        {% for facture in facturesEnCours %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': facture.id}) }}">{{facture.numero}}-{{facture.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': facture.id, 'direction': "left" }) }}" class="arrow">&#8592 </a><a href="{{ path('app_document_move', { 'id': facture.id, 'direction': "right" }) }}" class="arrow">&#8594</a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        <strong>Factures envoyées</strong>
        {% for facture in facturesEnvoyees %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': facture.id}) }}">{{facture.numero}}-{{facture.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': facture.id, 'direction': "left" }) }}" class="arrow">&#8592 </a><a href="{{ path('app_document_move', { 'id': facture.id, 'direction': "right" }) }}" class="arrow">&#8594</a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        <strong>Factures payées</strong>
        {% for facture in facturesPayees %}
        <div class="card">
        <a href="{{ path('app_document_show', {'id': facture.id}) }}">{{facture.numero}}-{{facture.client.nom}}</a>
        <br>
        <a href="{{ path('app_document_move', { 'id': facture.id, 'direction': "left" }) }}" class="arrow">&#8592</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}