{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
<h2>{{type}} n°{{document.numero}} du {{date}} pour {{document.client.nom}}</h2>
<br>
<p>Pour un total de {{totalHT}}€ {% if (app.user.parametres.modeMicro != true) %}HT et {{totalTTC}}€ TTC.{% endif %}</p>
<br>
<p>{{document.notes}}</p>
<br>

<table class="designation-table hidden-small">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col">Quantite</th>
            <th scope="col">Unité</th>
            <th scope="col">Prix Unitaire HT</th>
            {% if (app.user.parametres.modeMicro != true) %}
                <th scope="col">Montant HT</th>
            {% endif %}
            <th scope="col">Montant TTC</th>
        </tr>
    </thead>
    </tbody>
{% for designation in designations %}
    <tr scope="row">
        <td>{{designation.description}}</td>
        <td>{% if (designation.quantite != null) %}
        {{designation.quantite}}
        {% endif %}</td>
        <td>{% if (designation.unite != null) %}
        {{designation.unite}}
        {% endif %}</td>
        <td>{% if (designation.prixUnitaire != null) %}
        {{designation.prixUnitaire}}€
        {% endif %}</td>
        <td>{% if (app.user.parametres.modeMicro != true and designation.prixUnitaire != null) %}
        {{designation.prixHorsTax}}
        {% endif %}</td>
        <td>{% if (designation.prixTotal != null) %}
        {{designation.prixTotal}}€
        {% endif %}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<a href="{{ path('app_pdf_generator', {'id': document.id}) }}" class="sm-button" target="_blank">Générer un PDF</a>
{% if edit %}
    <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="sm-button">Modifier</a>
{% endif %}
<a href="{{ path('app_document_archive', {'id': document.id}) }}" class="sm-button">Archiver</a>
<a href="{{ path('app_document_copy', {'id': document.id}) }}" class="sm-button">Copier</a>
<a href="{{ path('app_document_index', {'id': document.id}) }}" class="sm-button">Retour</a>
{% endblock %}
