{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
{% for label, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="box">
<div class="column-container">
    <div class="column">
        <strong>{{type}} n°{{document.numero}}</strong>
    </div>
    <div class="column">
        <strong>Date :</strong>
        </br>
        {{date}}
    </div>
    <div class="column">
        <strong>Client :</strong>
        </br>
        {{document.client.nom}}
    </div>
    {% if (app.user.parametres.modeMicro != true) %}
        <div class="column">
        <strong>Total HT:</strong>
        </br>
        {{totalHT}}€
        </div>
        <div class="column">
        <strong>Total TTC:</strong>
        </br>
        {{totalTTC}}€
        </div>
    {% endif %}
    {% if (app.user.parametres.modeMicro == true) %}
        <div class="column">
        <strong>Total:</strong>
        </br>
        {{totalHT}}€
        </div>
    {% endif %}
<p>{{document.notes}}</p>
</div>
</div>
<div class="box">
<table class="designation-table hidden-small">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col">Quantite</th>
            <th scope="col">Unité</th>
            <th scope="col">Prix Unitaire HT</th>
            {% if (app.user.parametres.modeMicro != true) %}
                <th scope="col">Montant HT</th>
            {% endif %}
            <th scope="col">Montant TTC</th>
        </tr>
    </thead>
    </tbody>
{% for designation in designations %}
    <tr scope="row">
        <td>{{designation.description}}</td>
        <td>{% if (designation.quantite != null) %}
        {{designation.quantite}}
        {% endif %}</td>
        <td>{% if (designation.unite != null) %}
        {{designation.unite}}
        {% endif %}</td>
        <td>{% if (designation.prixUnitaire != null) %}
        {{designation.prixUnitaire}}€
        {% endif %}</td>
        <td>{% if (app.user.parametres.modeMicro != true and designation.prixUnitaire != null) %}
        {{designation.prixHorsTax}}
        {% endif %}</td>
        <td>{% if (designation.prixTotal != null) %}
        {{designation.prixTotal}}€
        {% endif %}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
<div class="column-container">
    <div class="column">
        <a href="{{ path('app_pdf_generator', {'id': document.id}) }}" class="sm-button" target="_blank">Générer PDF</a>
    </div>
    <div class="column">
        {% if edit %}
            <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="sm-button">Modifier</a>
        {% endif %}
    </div>
    <div class="column">
        <a href="{{ path('app_document_archive', {'id': document.id}) }}" class="sm-button">Archiver</a>
    </div>
    <div class="column">
        <a href="{{ path('app_document_copy', {'id': document.id}) }}" class="sm-button">Copier</a>
    </div>
    <div class="column">
        <a href="{{ path('app_document_index', {'id': document.id}) }}" class="sm-button">Retour</a>
    </div>
</div>
{% endblock %}
