{% extends 'base.html.twig' %}

{% block title %}Ajouter designations{% endblock %}

{% block body %}
{{document.numero}}
{{document.client.nom}}
{{date}}
<h2>Désignations</h2>
<table class="designation-table">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col" class="hidden-small">Quantite</th>
            <th scope="col" class="hidden-small">Unité</th>
            <th scope="col" class="hidden-small">Prix Unitaire HT</th>
            {% if (app.user.parametres.modeMicro != true) %}
            <th scope="col" class="hidden-small">TVA</th>
            {% endif %}
            <th scope="col">Montant</th>
            <th scope="col"></th>
        </tr>
    </thead>
    </tbody>
{% for designation in designations %}
    <tr scope="row">
        <td>{{designation.description}}</td>
        <td class="hidden-small">{{designation.quantite}}</td>
        <td class="hidden-small">{{designation.unite}}</td>
        <td class="hidden-small">{{designation.prixUnitaire}}€</td>
        {% if (app.user.parametres.modeMicro != true) %}
        <td class="hidden-small">{{designation.tva}}</td>
        {% endif %}
        <td>{{designation.prixTotal}}€</td>
        <td><a href="{{ path('app_designation_remove', {'id': designation.id}) }}">supprimer</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
<p>Total TTC: {{total}}€</p>
<h2>Ajouter une ligne</h2>
<div style="text-align: center">
    {{ form_start(form) }}
    <div class="form-row">
            <div class="form-label">{{ form_label(form.description) }}</div>
            <div class="form-field">{{ form_widget(form.description) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(form.quantite) }}</div>
            <div class="form-field">{{ form_widget(form.quantite) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(form.prixUnitaire) }}</div>
            <div class="form-field">{{ form_widget(form.prixUnitaire) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(form.unite) }}</div>
            <div class="form-field">{{ form_widget(form.unite) }}</div>
        </div>
        {% if (app.user.parametres.modeMicro != true) %}
        <div class="form-row">
            <div class="form-label">{{ form_label(form.tva) }}</div>
            <div class="form-field">{{ form_widget(form.tva) }}</div>
        </div>
        {% endif %}
        {% if (app.user.parametres.modeMicro) %}
        <div class="form-row">
            <div class="form-label hidden">{{ form_label(form.tva) }}</div>
            <div class="form-field hidden">{{ form_widget(form.tva) }}</div>
        </div>
        {% endif %}
    <button type="submit" class="submit-button">Ajouter ligne</button>
    {{ form_end(form) }}
    <td><a href="{{ path('app_document_show', {'id': document.id}) }}" class="sm-button">Terminer</a></td>
</div>
{% endblock %}
