<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Devis</title>
    <style>
        /* Styles CSS pour le devis */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 30px;
        }
        .client-info {
            margin-bottom: 20px;
        }
        .items-table {
            width: 100%;
            border-collapse: collapse;
        }
        .items-table th, .items-table td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        .items-table th {
            background-color: #f2f2f2;
        }
        .total {
            text-align: right;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{type}}</h1>
        </div>

        <div class="client-info">
            <p><strong>Client:</strong> {{ document.client.nom }}</p>
            <p><strong>Email:</strong> {{ document.client.email }}</p>
            <p><strong>Tel:</strong> {{ document.client.telephone }}</p>
            <p><strong>Adresse:</strong> {{ document.client.adresse }}, {{ document.client.codePostal }}, {{ document.client.ville}}</p>
        </div>

        <table class="items-table">
            <thead>
                <tr>
                    <th scope="col">Désignation</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Unité</th>
                    <th scope="col">Prix Unitaire HT</th>
                    <th scope="col">TVA</th>
                    <th scope="col">Montant TTC</th>
                </tr>
            </thead>
            <tbody>
                {% for designation in designations %}
                    <tr scope="row">
                        <td>{{designation.description}}</td>
                        <td>{{designation.quantite}}</td>
                        <td>{{designation.unite}}</td>
                        <td>{{designation.prixUnitaire}}</td>
                        <td>{{designation.tva}}</td>
                        <td>{{designation.prixTotal}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="total">
            <p><strong>Total HT:</strong> {{ totalHT }}</p>
            <p><strong>Total TTC:</strong> {{ totalTTC }}</p>
        </div>
    </div>
</body>
</html>
