<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Devis</title>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            line-height: 1.6;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        .highlight {
            background-color: #008080;
            color: white;
            border: 1px solid rgb(0, 0, 0)
        }

        .header {
            margin-bottom: 10px;
            border-bottom: 2px solid #008080;
        }
       .info-table {
            width: 100%;
            border-collapse: collapse;
        }
        .info-table td {
            padding: 0px;
            vertical-align: top;
        }
        .client-info {
            text-align: right;
        }
        .company-info p,
        .client-info p {
            line-height: 0.2;
        }
        .items-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 15px;
            table-layout: fixed;
        }
        .items-table th, .items-table td {
            border: 1px solid;
            padding: 8px;
            overflow: hidden;
            word-wrap: break-word;
            white-space: normal;
        }
        .items-table th {
            border: 1px solid rgb(0, 0, 0)
        }
        
        .items-table td:nth-child(2),
        .items-table td:nth-child(3),
        .items-table td:nth-child(5) {
         width: 10%;
        }

        .items-table td:nth-child(4) {
         width: 15%;
        }

        .items-table td:nth-child(6) {
         width: 20%;
        }

        .total-table {
            align: right;
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px
        }
        .total-table td {
            border: 1px solid;
            padding: 8px;
        }
        .total-table th {
            background-color: #f2f2f2;
        }
        .info {
            line-height: 1;
            text-align: justify;
            border: 1px solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <div class="container">
         <div class="header">
            <h2>{{type}}</h2>
        </div>
       <table class="info-table">
            <tr>
                <td class="company-info">
                    <p>{{ user.nom }}</p>
                    <p>SIRET: {{ user.identifiantEntreprise }}</p>
                    <p>{{ user.email }}</p>
                    <p>tel:{{ document.client.telephone }}</p>
                    <p>{{ user.adresse }}</p>
                    <p>{{ user.codePostal }}, {{ user.ville }}</p>
                    <strong>{{ type }} n° {{ document.numero }}</strong>
                    <strong>du {{ date }}</strong>
                </td>
                <td class="client-info">
                    <p>{{ document.client.nom }}</p>
                    <p>{{ document.client.email }}</p>
                    <p>tel:{{ document.client.telephone }}</p>
                    <p>{{ document.client.adresse }}</p>
                    <p>{{ document.client.codePostal }}, {{ document.client.ville }}</p>
                </td>
            </tr>
        </table>
        <p>{{document.notes}}</p>
        <table class="items-table">
            <thead>
                <tr>
                    <th scope="col" class="highlight">Article</th>
                    <th scope="col" class="highlight">Qte</th>
                    <th scope="col" class="highlight">Unité</th>
                    <th scope="col" class="highlight">P.U.HT*</th>
                    <th scope="col" class="highlight">TVA</th>
                    <th scope="col" class="highlight">Montant TTC</th>
                </tr>
            </thead>
            <tbody>
                {% for designation in designations %}
                    <tr scope="row">
                        <td>{{designation.description}}</td>
                        <td>{{designation.quantite}}</td>
                        <td>{{designation.unite}}</td>
                        <td>{{designation.prixUnitaire}}€</td>
                        <td>{{designation.tva}}%</td>
                        <td>{{designation.prixTotal}}€</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="total-table">
            <tbody>
                <tr scope="row">
                    <td><strong>Total HT:</strong></td>
                    <td>{{ totalHT }}€</td>
                    <td><strong>Total TTC:</strong></td>
                    <td>{{ totalTTC }}€</td>
                </tr>
            </tbody>
        </table>
        <p>Prix Unitaire*</p>
        {% if (type == "Devis") %}
        <p class="info">
            Ce devis est valable jusqu'au {{dateValide}} et est soumis à confirmation écrite avant cette date. 
            Les prix et les délais mentionnés sont sujets à changement sans préavis après l'expiration de cette offre. 
            Les informations contenues dans ce devis sont confidentielles et ne doivent pas être divulguées à des tiers sans notre consentement écrit.
            {{user.nom}} vous remercie de l'intérêt que vous portez à ses services et vous souhaite une très bonne journée.
        </p>
        {% endif %}
        {% if (type == "Facture") %}
        <p class="info">
            Le paiement doit être effectué dans un délai de 30 jours à compter de la date de facturation soit le {{dateValide}}.
            Les informations contenues dans cette facture sont confidentielles et ne doivent pas être divulguées à des tiers sans notre consentement écrit.
            {{user.nom}} vous remercie par avance de régler cette facture avec promptitude, cela est grandement apprécié.
        </p>
        {% endif %}
    </div>
</body>
</html>
